@font-face {
	font-family: 'Aeonik'; 
	src: url(/font/AeonikProTRIAL-Regular.otf); 
}
@font-face {
	font-family: 'Aeonik Bold'; 
	src: url(/font/AeonikProTRIAL-Bold.otf); 
}
@font-face {
	font-family: 'Aeonik Light'; 
	src: url(/font/AeonikProTRIAL-Light.otf); 
}